In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
DATA_DIR = Path('/home/shankar/GRA/R@/rica/projects/lathrop/day_1_62.5/predict_all_database/oct_14_interpolate_model')

In [10]:
cores_df = pd.read_csv(DATA_DIR / 'lathrop-waypoints.csv')
cores_df.head()

,Number,Name,Description,GeometryType,latitude,longitude,Altitude,density,Thickness,Unnamed: 9,Predictions_oct_13 (max)
0,28,"Lathrop, R4, NDG 94.3",NaN,Point,37.819070,-121.289119,-0.557,93.4,2.7,NaN,93.4
1,27,"Lathrop, R5, NDG 94.5",NaN,Point,37.819072,-121.288548,-0.939,93.8,2.8,NaN,93.6
2,26,"Lathrop, R6, NDG 94",NaN,Point,37.819060,-121.287912,-1.676,92.7,2.7,NaN,93.0
3,25,"Lathrop, R3, NDG 95",NaN,Point,37.819033,-121.290488,-0.571,94.0,2.5,NaN,93.5
4,24,"Lathrop, R2, NDG 95",NaN,Point,37.819039,-121.291162,-2.239,95.0,2.4,NaN,92.2

In [11]:
vib_df = pd.read_csv(DATA_DIR / 'processed_data.csv')
vib_df.head()

,Unnamed: 0,time,density,heading,latitude,longitude,passID,speed,temperature
0,0,2022-09-29 13:48:53.222000+00:00,95.26,180.0,0.000000,0.000000,0.0,0.000,101.131714
1,1,2022-09-29 13:48:53.350000+00:00,90.53,180.0,0.000000,0.000000,0.0,0.000,100.159724
2,2,2022-09-29 13:48:53.478000+00:00,90.53,0.0,37.819975,-121.276682,0.0,0.035,100.475626
3,3,2022-09-29 13:48:53.606000+00:00,90.53,0.0,37.819975,-121.276682,0.0,0.035,100.524224
4,4,2022-09-29 13:48:53.734000+00:00,90.53,0.0,37.819975,-121.276682,0.0,0.035,101.569115

In [12]:
for index, core in cores_df.iterrows():
    name = core.Name
    print(f"{name}\n=============")
    snapshot = vib_df[(abs(vib_df.latitude - core.latitude) < 0.00001) & (abs(vib_df.longitude - core.longitude) < 0.000013)]
    for i in snapshot.passID.unique():
        # start= snapshot[snapshot.passID == i].time.min()
        # stop=snapshot[snapshot.passID == i].time.max()
        avg=snapshot[snapshot.passID == i].density.mean()
        myMin=snapshot[snapshot.passID == i].density.min()
        myMax=snapshot[snapshot.passID == i].density.max()
        std=snapshot[snapshot.passID == i].density.std()
        # print(f"\tPass {i}: start-> {start} stop-> {stop} density->{estimate:0.1f}")
        print(f"\tPass {i}: min-> {myMin:0.1f} | mean-> {avg:0.1f} +/- {std:0.1f} | max->{myMax:0.1f}")
        # plt.figure()
        # snapshot[snapshot.passID == i].plot(x='time', y='density')
        # plt.savefig(f"{name}_pass{i}.png")
        # plt.close()

Lathrop, R4, NDG 94.3
=============
	Pass 30.0: min-> 90.7 | mean-> 92.2 +/- 1.8 | max->95.3
	Pass 31.0: min-> 90.5 | mean-> 90.6 +/- 0.1 | max->90.7
	Pass 32.0: min-> 90.5 | mean-> 90.6 +/- 0.1 | max->90.7
	Pass 47.0: min-> 90.7 | mean-> 92.3 +/- 1.7 | max->95.3
	Pass 48.0: min-> 90.5 | mean-> 92.4 +/- 1.5 | max->94.2
	Pass 49.0: min-> 90.5 | mean-> 91.4 +/- 1.4 | max->95.3
	Pass 51.0: min-> 90.5 | mean-> 92.3 +/- 2.1 | max->95.3
	Pass 52.0: min-> 90.5 | mean-> 91.2 +/- 1.3 | max->94.2
	Pass 119.0: min-> 90.5 | mean-> 90.5 +/- 0.0 | max->90.5
Lathrop, R5, NDG 94.5
=============
	Pass 47.0: min-> 90.7 | mean-> 93.1 +/- 1.7 | max->95.3
	Pass 48.0: min-> 90.5 | mean-> 91.1 +/- 0.6 | max->91.8
	Pass 49.0: min-> 90.5 | mean-> 90.8 +/- 0.9 | max->94.2
	Pass 51.0: min-> 90.7 | mean-> 91.7 +/- 1.1 | max->94.2
	Pass 52.0: min-> 90.5 | mean-> 90.8 +/- 0.4 | max->91.8
	Pass 119.0: min-> 90.5 | mean-> 90.5 +/- 0.0 | max->90.5
Lathrop, R6, NDG 94
=============
	Pass 45.0: min-> 90.5 | mean-> 91.0 +/- 0.5 | max->91.8
	Pass 46.0: min-> 90.5 | mean-> 92.0 +/- 1.6 | max->94.2
	Pass 49.0: min-> 90.5 | mean-> 91.3 +/- 1.2 | max->95.3
	Pass 51.0: min-> 90.7 | mean-> 91.3 +/- 1.2 | max->94.2
	Pass 52.0: min-> 90.5 | mean-> 90.6 +/- 0.1 | max->90.7
Lathrop, R3, NDG 95
=============
	Pass 0.0: min-> 90.5 | mean-> 91.5 +/- 1.4 | max->95.3
	Pass 1.0: min-> 90.5 | mean-> 91.9 +/- 1.5 | max->94.2
	Pass 16.0: min-> 90.7 | mean-> 93.2 +/- 1.7 | max->95.3
	Pass 17.0: min-> 90.5 | mean-> 91.0 +/- 0.6 | max->91.8
	Pass 18.0: min-> 90.5 | mean-> 90.7 +/- 0.4 | max->91.8
Lathrop, R2, NDG 95
=============
	Pass 0.0: min-> 90.5 | mean-> 91.3 +/- 1.0 | max->94.2
	Pass 1.0: min-> 90.5 | mean-> 91.6 +/- 1.1 | max->94.2
	Pass 40.0: min-> 90.5 | mean-> 90.7 +/- 0.4 | max->91.8
	Pass 41.0: min-> 90.5 | mean-> 91.2 +/- 1.0 | max->94.2
	Pass 45.0: min-> 90.5 | mean-> 90.5 +/- 0.0 | max->90.5
	Pass 119.0: min-> 90.5 | mean-> 90.5 +/- 0.0 | max->90.5
Lathrop, R1, NDG 95
=============
	Pass 0.0: min-> 90.5 | mean-> 91.4 +/- 1.0 | max->94.2
	Pass 40.0: min-> 90.5 | mean-> 90.9 +/- 1.2 | max->95.3
	Pass 45.0: min-> 90.5 | mean-> 93.1 +/- 2.2 | max->95.3

In [7]:
# with open('times_over_cores.tsv', 'w') as fid:
#     print("name\tpassID\tstart_time\tstop_time", file=fid)
#     for index, core in cores_df.iterrows():
#         name = core.Name
#         print(f"{name}\n=============")
#         snapshot = vib_df[(abs(vib_df.latitude - core.latitude) < 0.00001) & (abs(vib_df.longitude - core.longitude) < 0.000013)]
#         for i in snapshot.passID.unique():
#             start= snapshot[snapshot.passID == i].time.min()
#             stop=snapshot[snapshot.passID == i].time.max()
#             print(f"\tPass {i}: start-> {start} stop-> {stop}")
#             # print(f"{name}\t{i}\t{start}\t{stop}", file=fid)